// $body-bg: linear-gradient(to top, lighten(#52bbb4, 5%), darken(#52bbb4, 5%));
$font-family-sans-serif: 'ubuntu';
$primary: #ef742e;

@import "./node_modules/bootstrap/scss/bootstrap.scss";

body{
    background-image: linear-gradient(to top left, lighten(#52bbb4, 5%), darken(#52bbb4, 20%));
    color: darken(white, 5%);
    cursor: default;
}